*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: Arial, sans-serif;
}

body {
	position: relative;
	min-height: 100vh;
	background: url(../images/background.jpg) fixed center no-repeat;
	background-size: cover;
}